<h1 *ngIf="!selected">
   <span> Active Company Count: {{companyCount() }}</span>

</h1><br>


<div class="table table-striped" *ngIf="selected === null && !addCompany">
  <table class="table table-striped" >
  <thead>
    <tr>
      <td>Id</td>
      <td>Name</td>
      <td>Apply Date</td>


    </tr>
  </thead>
  <tbody>
    <tr   *ngFor="let company of companies">
      <td >{{company.id}}</td>
      <td (click)="selectCompany(company)">{{company.name}}</td>
      <td>{{ company.applyDate | date : " MMMM d, y"}}</td>

    </tr>

  </tbody>
</table>
<button (click)="loadAddCompForm()">Add New Company</button>
<!-- <button [(ngModel)]="showActive">Show only Active</button> -->
</div>

<div name="newCompanyDiv">
<form *ngIf="!selected && addCompany">

  <table class="table table-striped" >
    <thead>
      <tr>
        <td>Name</td>
        <td>Website</td>
        <td>Apply Date</td>
        <td>Remote ?</td>
        <td>Active ?</td>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="text" name="name" [(ngModel)]="newCompany.name"></td>
        <td><input type="text" name="website" [(ngModel)]="newCompany.website"></td>
        <td><input type="date" name="applyDate" [(ngModel)]="newCompany.applyDate"></td>
        <td><input type="checkbox" name="remote" [(ngModel)]="newCompany.remote"></td>
        <td><input type="checkbox" name="active" [(ngModel)]="newCompany.active"></td>
        <td></td>
      </tr>
      <input type="submit" value="Add Item" (click)="createCompany(newCompany)"/>
      <button (click)="cancel()">Cancel</button>
    </tbody>
  </table>
</form>
</div>

<div class="table table-striped" *ngIf="selected && !addCompany">
  <table class="table table-striped" >
  <thead>
    <tr>
      <td>Name</td>
      <td>Website</td>
      <td>Apply Date</td>
      <td>Remote</td>
      <td>Active</td>

    </tr>
  </thead>
  <tbody>
    <tr>

      <td>{{selected.name}}</td>
      <td>{{selected.website}}</td>
      <td>{{selected.applyDate}}</td>
      <td>{{selected.remote}}</td>
      <td>{{selected.active}}</td>
      </tr>
      <table class="table table-striped" >
        <thead>
          <h3>Contacts:</h3>
          <tr>
            <td>Title: </td>
            <td>Name: </td>
            <td>Phone: </td>
            <td>Email </td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let contact of selected.contacts" >
            <td>{{contact.title}}</td>
            <td>{{contact.firstName}} {{contact.lastName}}</td>
            <td> {{contact.phone}}</td>
            <td> {{contact.email}}</td>
            </tr>
        </tbody>
      </table>

  </tbody>
  <tfoot *ngIf="!hideButton">
  <button (click)="deleteCompany(selected.id)">Delete Company</button>
  <button (click)="setEditCompany()">Update Company</button>
  <button (click)="cancel()">Cancel</button>
</tfoot>
</table>
</div>

<div name="updateCompanyDiv">
  <form *ngIf="editCompany">

    <table class="table table-striped" >
      <thead>
        <h4>Edit Company</h4>
        <tr>
          <td>Name</td>
          <td>Website</td>

          <td>Remote ?</td>
          <td>Active ?</td>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="text" name="name" [(ngModel)]="editCompany.name"></td>
          <td><input type="text" name="website" [(ngModel)]="editCompany.website"></td>

          <td><input type="checkbox" name="remote" [(ngModel)]="editCompany.remote"></td>
          <td><input type="checkbox" name="active" [(ngModel)]="editCompany.active"></td>

          <td></td>
        </tr>
        <button (click)="cancel()">Cancel</button>
        <button (click)="updateCompany(editCompany)">Save</button>
      </tbody>
    </table>
  </form>
  </div>
