<div class="loginpage">
  <!-- Section: Design Block-->
  <section class=" text-center text-lg-start">
    <div class="card mb-3">
      <div class="row g-0 d-flex align-items-center">
        <div class="col-lg-4 d-none d-lg-flex">
          <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" alt="Trendy Pants and Shoes"
          class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
        </div>
        <div class="col-lg-8">
          <div class="card-body py-5 px-md-5">
            <h2 class="display-2"> Register: </h2>
            <hr>
            <form>

              <div class="form-outline mb-4">

                <label for="firstName">First Name:</label><br>
                <input type="text" name="firstName" [(ngModel)]="newUser.firstName" /><br> <label for="lastName">Last Name:</label><br />
                <input type="text" name="lastName" [(ngModel)]="newUser.lastName" /><br>
              </div>


              <div class="form-outline mb-4">
                <label for="username">username</label><br />
                <input type="text" name="username" [(ngModel)]="newUser.username" /><br><label for="password">password</label><br />
                <input type="text" name="password" [(ngModel)]="newUser.password" /><br>
              </div>





              <!-- Submit button -->
              <button type="button" class="btn btn-primary btn-block mb-4" (click)="register(newUser)">Register</button>

            </form>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>
